@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    background: black;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    transform-origin: top left;
}

.background {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Default: Full HD (1920x1080) */
.screen-overlay {
    position: absolute;
    top: 37%;
    left: 24%;
    width: 50vw;
    height: 28vh;
    background: rgba(0, 0, 0, 0.9);
    color: #33ff33;
    font-family: 'VT323', monospace;
    box-shadow: 0 0 10px #33ff33;
    overflow: hidden;
    padding: 15px;
}

#terminal {
    white-space: pre-wrap;
    height: 100%;
    overflow-y: auto;
    font-size: 1.5vw;
}

/* Digital Clock */
.clock-overlay {
    position: absolute;
    top: 14.5%;
    left: 14.7%;
    color: red;
    font-size: 2.5vw;
    font-family: 'VT323', monospace;
    text-shadow: 0 0 5px red;
}
