@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background: black;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.main-container {
  position: absolute;
  width: 1920px; 
  height: 1080px; 
  background: black;
}

.bg-image {
  position: center;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  object-fit: cover;
  z-index: 0;
}

.screen-overlay {
  position: absolute;
  top: 310px; 
  left: 650px;
  width: 440px;
  height: 270px;
  background: black;
  color: #FFBF00;
  font-family: 'VT323', monospace;
  /*box-shadow: 0 0 10px #33ff33;*/
  overflow: hidden;
  padding: 10px;
  z-index: 1;
}

.screen-overlay::after {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: radial-gradient(ellipse at center, transparent 60%, rgba(0,0,0,0.9) 100%);
}


@keyframes flicker {
  0% { opacity: 1; }
  50% { opacity: 0.9; }
  100% { opacity: 1; }
}

#terminal {
  width: 100%;
  height: 100%;
  font-size: 20px;
  line-height: 1.4;
  white-space: pre-wrap;
  word-break: break-all;
  overflow-x: hidden;
  overflow-y: hidden;
  animation: flicker 0.15s infinite alternate;
}

/* timer */

.time-overlay {
  position: absolute;
  top: 523px; 
  left: 340px;
  color: red;
  font-size: 28px;
  font-family: 'VT323', monospace;
  text-shadow: 0 0 3px red;
  z-index: 2;
}

.day-overlay {
  position: absolute;
  top: 524px; 
  left: 230px;
  color: red;
  font-size: 28px;
  font-family: 'VT323', monospace;
  text-shadow: 0 0 3px red;
  z-index: 2;
}
